li {
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}
.List > .videoSideList > ul {
  width: 1280px;
  margin: auto;
}
.List > .videoSideList > ul > .video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em 0;
}
.sideList > .videoSideList > ul {
  max-width: 426px;
}
