.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  /* .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
}
@media (max-width: 1023px) {
  .sideList {
    flex-direction: column;
  }
  .sideList > .videoSideList > .videoList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1023px;
    max-height: 2000px;
  }
  .sideList > .videoSideList > .videoList > .video {
    max-width: 426px;
    height: 125px;
  }
}
@media (max-width: 767px) {
  .sideList {
    flex-direction: column;
  }
  .sideList > .videoSideList > .videoList {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .logo__text {
    display: none;
  }
  .logo {
    left: 50px;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.componentContainer {
  max-width: 1700px;
  margin: auto;
}
.search {
  max-width: 1280px;
  margin: auto;
}

.List .videoList {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.sideList {
  display: flex;
}
.sideList .videoDetail {
  flex: 1 1 70%;
}
.sideList .videoSideList {
  flex: 1 1 30%;
}
